<div class="sort">
  <label class="sort__label" for="sortTodo"> Sort by:</label>
  <select
    #type
    (change)="onSelectSortType()"
    class="sort__select"
    name="sortTodo"
    [(ngModel)]="dataService.sortType"
    id="sortTodo">
    <option
      value="text"
      class="sort__select--option">
      alphabet
    </option>
    <option
      value="status"
      class="sort__select--option">
      status
    </option>
    <option
      value="both"
      class="sort__select--option">
      both
    </option>
  </select>
</div>
