.container__list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  height: 100%;
}

.container__list--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .8rem .6rem;
  background-color: #fff;
  margin: .5rem 0;
}

.list__item--title {
  align-self: center;
  font-size: 1.4rem;
  color: #4d77f9;
}

.complete {
  background-color: #64DD17;
}

.hide {
  display: none;
}
