<ul class="container__list">
  <li
    class="container__list--item"
    *ngFor="let item of dataService.showTodo; let number = index"
    [ngClass]="{'complete': item.completed === true, 'blocked': item.blocked === true}">
    <h4 class="list__item--title"> {{item.text}}</h4>
    <div>
      <button
        class="btn edit"
        (click)="editTodo(number)"
        [ngClass]="{'hide': item.completed === true}">
        <i class="fa-solid fa-pen"></i>
      </button>
      <button
        class="btn delete"
        (click)="deleteTodo(number)">
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <button
        class="btn complete__btn"
        (click)="completedTodo(number)"
        [ngClass]="{'hide': item.completed === true}">
        Completed
      </button>
      <button
        class="btn block"
        (click)="blockTodo(number)"
        [ngClass]="{'hide': item.completed === true}">
        Block
      </button>
    </div>
  </li>
</ul>
